@charset "utf-8";

/*-------------------------------------------------------------------
    @elements
-------------------------------------------------------------------*/
/* button */
.btn-wrap {display: flex; align-content: center; justify-content: center; gap: 0 1rem;}

.btn{ border: 1px solid transparent; padding: 0 0; margin: 0 0; display: flex; justify-content: center; align-items: center; font-weight: 500;}
.btn-ic{ border: none; padding: 0; margin: 0; display: block; text-indent: -9999px; background-size: 100%; background-repeat: no-repeat; background-position: center;}

.btn.xl {height: 4.8rem; gap: 0 0.8rem; border-radius: 0.4rem; font-size: 1.4rem; padding: 0 2rem;}
.btn.lg {height: 4rem; gap: 0 0.8rem; border-radius: 0.4rem; font-size: 1.4rem; padding: 0 2rem;}
.btn.md {height: 3.2rem; gap: 0 0.8rem; border-radius: 0.4rem; font-size: 1.4rem; padding: 0 2rem;}

.btn.line-dark {background-color: #ffffff; border-color: #343A40; color: #343A40;}
.btn.line-red {background-color: #ffffff; border-color: #FA5252; color: #FA5252;}
.btn.line-blue {background-color: #ffffff; border-color: #748FFC; color: #748FFC;}

.btn.fill-red {background-color: #FA5252; border-color: #FA5252; color: #ffffff;}
.btn.fill-dark {background-color: #343A40; border-color: #343A40; color: #ffffff;}

.btn-portfolio {border-color: #FA5252; border-radius: 1.6rem; height: 3.2rem; color: #FA5252; font-size: 1.6rem; font-weight: 600; width: 14rem; background: #ffffff url('../img/icon/ic_portfolio_r.png') no-repeat left 2rem center; background-size: 2rem; padding-left: 3rem;}
.btn-more {border: 0; color: #868E96; font-size: 1.4rem; font-weight: 500; padding: 0 2rem 0 4.8rem; background: url('../img/icon/ic_link_c_g.png') no-repeat left 2rem center; height: 2rem; background-size: 2rem;}

.btn-gnb.close {width: 2.4rem; height: 2.4rem; background-image: url('../img/icon/ic_header_menu_close.png'); background-size: 2rem;}
.btn-gnb.circle {width: 3.6rem; height: 3.6rem; border-radius: 50%; }
.btn-gnb.circle.open {background-color: #E9ECEF; background-image: url('../img/icon/ic_header_menu_open.png'); background-size: 2rem;}
.btn-gnb.circle.close {background-color: #343A40; background-image: url('../img/icon/ic_header_menu_close.png'); background-size: 2rem;}
.btn-search {width: 2rem; height: 2rem; background-image: url('../img/icon/ic_search_r.png')}
.btn-header-back {width: 2rem; height: 2rem; background-image: url('../img/icon/ic_header_back.png')}
.btn-pop-close {width: 2rem; height: 2rem; background-image: url('../img/icon/ic_pop_close.png')}

/* icon */
i[class^='ic-'] {display: inline-block; background-repeat: no-repeat; background-position: center; background-size: 100%;}

.ic-util-login {width: 1.6rem; height: 1.6rem; background-image: url('../img/icon/ic_util_login.png');}
.ic-util-join {width: 1.6rem; height: 1.6rem; background-image: url('../img/icon/ic_util_join.png');}
.ic-util-cs {width: 1.6rem; height: 1.6rem; background-image: url('../img/icon/ic_util_cs.png');}
.ic-util-mypage {width: 1.6rem; height: 1.6rem; background-image: url('../img/icon/ic_util_mypage.png');}
.ic-util-deliver {width: 1.6rem; height: 1.6rem; background-image: url('../img/icon/ic_util_deliver.png');}
.ic-util-shoppingbag {width: 1.6rem; height: 1.6rem; background-image: url('../img/icon/ic_util_shoppingbag.png');}
.ic-fnb-location {width: 1.6rem; height: 1.6rem; background-image: url('../img/icon/ic_fnb_location.png');}
.ic-fnb-term {width: 1.6rem; height: 1.6rem; background-image: url('../img/icon/ic_fnb_term.png');}
.ic-fnb-privacy {width: 1.6rem; height: 1.6rem; background-image: url('../img/icon/ic_fnb_privacy.png');}
.ic-fnb-code {width: 1.6rem; height: 1.6rem; background-image: url('../img/icon/ic_fnb_code.png');}
.ic-float-gnb {width: 2rem; height: 2rem; background-image: url('../img/icon/ic_float_menu_off.png');}
.ic-float-mypage {width: 2rem; height: 2rem; background-image: url('../img/icon/ic_float_mypage_off.png');}
.ic-float-home {width: 2rem; height: 2rem; background-image: url('../img/icon/ic_float_home_off.png');}
.ic-float-order {width: 2rem; height: 2rem; background-image: url('../img/icon/ic_float_order_off.png');}
.ic-float-cs {width: 2rem; height: 2rem; background-image: url('../img/icon/ic_float_cs_off.png');}
#footer .floating .float-gnb ul li.on a .ic-float-gnb {width: 2rem; height: 2rem; background-image: url('../img/icon/ic_float_menu_on.png');}
#footer .floating .float-gnb ul li.on a .ic-float-mypage {width: 2rem; height: 2rem; background-image: url('../img/icon/ic_float_mypage_on.png');}
#footer .floating .float-gnb ul li.on a .ic-float-home {width: 2rem; height: 2rem; background-image: url('../img/icon/ic_float_home_on.png');}
#footer .floating .float-gnb ul li.on a .ic-float-order {width: 2rem; height: 2rem; background-image: url('../img/icon/ic_float_order_on.png');}
#footer .floating .float-gnb ul li.on a .ic-float-cs {width: 2rem; height: 2rem; background-image: url('../img/icon/ic_float_cs_on.png');}
.ic-login {width: 2rem; height: 2rem; background-image: url('../img/icon/ic_login.png');}
.ic-find-join {width: 1.6rem; height: 1.6rem; background-image: url('../img/icon/ic_find_join.png');}
.ic-find-id {width: 1.6rem; height: 1.6rem; background-image: url('../img/icon/ic_find_id.png');}
.ic-find-pw {width: 1.6rem; height: 1.6rem; background-image: url('../img/icon/ic_find_pw.png');}
.ic-inquire {width: 2rem; height: 2rem;}
.ic-inquire.dark {background-image: url('../img/icon/ic_inquire_d.png');}
.ic-title-faq {width: 3.2rem; height: 3.2rem; background-image: url('../img/icon/ic_title_faq.png');}
.ic-title-time {width: 3.2rem; height: 3.2rem; background-image: url('../img/icon/ic_title_time.png');}
.ic-title-call {width: 3.2rem; height: 3.2rem; background-image: url('../img/icon/ic_title_call.png');}
.ic-link {width: 2rem; height: 2rem; }
.ic-link.circle.dark {background-image: url('../img/icon/ic_link_c_d.png');}
.ic-submit {width: 2rem; height: 2rem; }
.ic-submit.red {background-image: url('../img/icon/ic_submit_r.png');}
.ic-location {width: 1.6rem; height: 1.6rem; background-image: url('../img/icon/ic_location.png');}
.ic-call {width: 1.6rem; height: 1.6rem; background-image: url('../img/icon/ic_call.png');}
.ic-time {width: 1.6rem; height: 1.6rem; background-image: url('../img/icon/ic_time.png');}
.ic-add {width: 2rem; height: 2rem;}
.ic-add.dark {background-image: url('../img/icon/ic_add_d.png');}
.ic-calculate {width: 2rem; height: 2rem;}
.ic-calculate.red {background-image: url('../img/icon/ic_calculate_r.png');}
.ic-order {width: 2rem; height: 2rem;}
.ic-order.white {background-image: url('../img/icon/ic_order_w.png');}
.ic-size {width: 2rem; height: 2rem;}
.ic-size.blue {background-image: url('../img/icon/ic_size_b.png');}
.ic-sample {width: 2rem; height: 2rem;}
.ic-sample.blue {background-image: url('../img/icon/ic_sample_b.png');}
.ic-search {width: 2rem; height: 2rem;}
.ic-search.red {background-image: url('../img/icon/ic_search_r.png');}
.ic-cancel {width: 2rem; height: 2rem;}
.ic-cancel.white {background-image: url('../img/icon/ic_cancel_w.png');}

/* label */
.label.v1 {display: inline-block; padding: 0 0.8rem; line-height: 1.4; border-radius: 1rem; font-weight: 500; font-size: 1.2rem;}
.label.v1.clr01 {background-color: #DBE4FF; color: #4C6EF5;}

/* list */
.list-wrap{}
.list-top {display: flex; align-items: center; justify-content: space-between;}
.list-top .search {margin-left: auto;}
.list-top .filter-area {display: flex; flex-wrap: wrap;}
.list-top .filter-area dl {display: flex; align-items: center; justify-content: flex-start; flex-wrap: wrap;}
.list-top .filter-area dl dt {flex: none; width: 9rem; font-size: 1.4rem; font-weight: 500; color: #868E96;}
.list-top .filter-area dl dd {display: flex; flex-wrap: wrap; gap: 1rem 1rem;}

.list-top + .acc-wrap.v1 {margin-top: 1rem;}
.list-top + .list-wrap.v4 {margin-top: 2rem;}

.list-wrap.v1 ul li {border-bottom: 1px solid #CED4DA;}
.list-wrap.v1 ul li a {display: flex; align-items: center; height: 6rem; padding: 0 1rem; color: #343A40;}
.list-wrap.v1 ul li .tit {flex: 1 0; min-width: 0; font-weight: 500; font-size: 1.6rem;}
.list-wrap.v1 ul li .date {flex: none; font-size: 1.4rem;}

.list-wrap.v2 > ul > li {border-bottom: 1px solid #CED4DA; padding: 2rem 1rem; display: flex; align-items: center;}
.list-wrap.v2 > ul > li .text-area {flex: 1 0;}
.list-wrap.v2 > ul > li .text-area .date {font-size: 1.4rem;}
.list-wrap.v2 > ul > li .text-area .tit {font-size: 1.6rem; font-weight: 500; margin-top: 1.5rem;}
.list-wrap.v2 > ul > li .text-area .txt {margin-top: 0.8rem; font-size: 1.6rem; line-height: 1.6; color: #868E96;}
.list-wrap.v2 > ul > li .price-area {width: 14rem; text-align: center;}
.list-wrap.v2 > ul > li .price-area .unit {font-size: 1.4rem;}
.list-wrap.v2 > ul > li .price-area .price {margin-top: 1rem; font-size: 1.6rem; font-weight: 700;}
.list-wrap.v2 > ul > li .etc-area {width: 11.5rem;}
.list-wrap.v2 > ul > li .etc-area .btn {width: 11.5rem; padding: 0;}
.list-wrap.v2 > ul > li .etc-area .btn + .btn {margin-top: 1rem;}

.list-wrap.v3 > ul > li {border-bottom: 1px solid #CED4DA; padding: 2rem 1rem;}
.list-wrap.v3 > ul > li > div {display: flex; align-items: flex-start;}
.list-wrap.v3 > ul > li > div + div {margin-top: 1rem;}
.list-wrap.v3 > ul > li > div .tit {flex: 1 0; display: flex; align-items: center; justify-content: flex-start; gap: 0 0.4rem;}
.list-wrap.v3 > ul > li > div .date {flex: none; font-size: 1.4rem;}
.list-wrap.v3 > ul > li .question .tit {font-size: 1.4rem; font-weight: 700;}
.list-wrap.v3 > ul > li .answer .tit {font-size: 1.4rem;}

.list-wrap.v4 ul > li {display: flex; align-items: center; justify-content: flex-start;}
.list-wrap.v4 ul > li .date-area {width: 15rem;}
.list-wrap.v4 ul > li .txt-area {flex: 1 0;}
.list-wrap.v4 ul > li .unit-area {width: 13.5rem;}
.list-wrap.v4 ul > li .price-area {width: 15rem;}
.list-wrap.v4 ul > li .status-area {width: 11rem;}
.list-wrap.v4 ul > li .etc-area {width: 17.5rem;}
.list-wrap.v4 .list-head > ul > li {background-color: #F1F3F5;}
.list-wrap.v4 .list-head > ul > li > div {padding: 1.2rem 0;}
.list-wrap.v4 .list-head > ul > li > div > p {font-size: 1.4rem; font-weight: 500; color: #868E96; text-align: center;}
.list-wrap.v4 .list-body > ul > li {padding: 2rem 0; border-bottom: 1px solid #CED4DA;}
.list-wrap.v4 .list-body > ul > li .date-area .date {text-align: center; font-size: 1.4rem;}
.list-wrap.v4 .list-body > ul > li .date-area .num {text-align: center; font-weight: 600; font-size: 1.6rem;}
.list-wrap.v4 .list-body > ul > li .txt-area .tit {font-size: 1.6rem; font-weight: 500;}
.list-wrap.v4 .list-body > ul > li .txt-area .tit + .txt {margin-top: 0.8rem;}
.list-wrap.v4 .list-body > ul > li .txt-area .txt {font-size: 1.4rem; color: #868E96; line-height: 1.6;}
.list-wrap.v4 .list-body > ul > li .unit-area .unit {text-align: center; font-size: 1.4rem;}
.list-wrap.v4 .list-body > ul > li .price-area .price {text-align: center; font-size: 1.6rem; font-weight: 700;}
.list-wrap.v4 .list-body > ul > li .status-area .status {text-align: center; font-size: 1.4rem;}
.list-wrap.v4 .list-body > ul > li .etc-area .btn {width: 100%; max-width: 11.5rem; margin-left: auto; margin-right: auto; padding: 0;}
.list-wrap.v4 .list-body > ul > li .etc-area .btn + .btn {margin-top: 1rem;}

/* 아코디언탭 */
.acc-wrap.v1 > ul > li {border-top: 1px solid #CED4DA;}
.acc-wrap.v1 > ul > li:last-child {border-bottom: 1px solid #CED4DA;}
.acc-wrap.v1 > ul > li .acc-tit {display: flex; align-items: center; padding: 2rem 2rem; gap: 0 4rem;}
.acc-wrap.v1 > ul > li .acc-tit::after {content: ""; flex: none; width: 2rem; height: 2rem; background: url('../img/icon/ic_acc_arr01.png') no-repeat center; background-size: 100%;}
.acc-wrap.v1 > ul > li .acc-tit .tit {flex: 1 0; min-width: 0; font-size: 1.4rem; font-weight: 700; padding: 0 2rem;}
.acc-wrap.v1 > ul > li .acc-tit .date {font-size: 1.4rem; padding: 0 2rem;}
.acc-wrap.v1 > ul > li .acc-cont {display: none; padding: 2rem 4rem;}
.acc-wrap.v1 > ul > li .acc-cont p {font-size: 1.4rem;}
.acc-wrap.v1 > ul > li .acc-cont p a {display: inline-block; text-decoration: underline; color: #4C6EF5;}
.acc-wrap.v1 > ul > li.on .acc-tit {background-color: #FFF5F5;}
.acc-wrap.v1 > ul > li.on .acc-tit::after {transform: rotate(-180deg);}

.acc-wrap.v2 > ul > li {background-color: #F8F9FA; border: 1px solid #F8F9FA; border-radius: 1rem; padding: 2rem 4rem;}
.acc-wrap.v2 > ul > li + li {margin-top: 1rem;}
.acc-wrap.v2 > ul > li .acc-tit {display: flex; align-items: center; justify-content: flex-start; gap: 0 5rem;}
.acc-wrap.v2 > ul > li .acc-tit::after {content: ""; flex: none; width: 4rem; height: 4rem; background: url('../img/icon/ic_acc_arr02.png') no-repeat center; background-size: 100%;}
.acc-wrap.v2 > ul > li .acc-tit .category {width: 10rem; font-size: 1.6rem; font-weight: 700;}
.acc-wrap.v2 > ul > li .acc-tit .thumb {width: 10rem;}
.acc-wrap.v2 > ul > li .acc-tit .txt-area {flex: 1 0;}
.acc-wrap.v2 > ul > li .acc-tit .txt-area .txt {font-size: 1.4rem; line-height: 1.6;}
.acc-wrap.v2 > ul > li .acc-cont {padding-top: 2rem; display: none;}
.acc-wrap.v2 > ul > li .acc-cont * + .img-area {margin-top: 1rem;}
.acc-wrap.v2 > ul > li.on {box-shadow: 0.4rem 0.4rem 0.4rem 0 #0000000D; background-color: transparent; border: 1px solid #868E96;}
.acc-wrap.v2 > ul > li.on .acc-tit::after {transform: rotate(-180deg);}

/* 탭 */
.tab-wrap.v1 .tab-btn-wrap {display: flex; align-items: center; justify-content: flex-start; gap: 0.8rem 0.4rem; flex-wrap: wrap; align-items: stretch;}
.tab-wrap.v1 .tab-btn-wrap .tab-btn {width: calc((100% - 2.4rem)/7); padding: 1rem 0; line-height: 1.25; border: 1px solid #CED4DA; text-align: center; flex: none; font-weight: 500; font-size: 1.6rem; letter-spacing: -0.02em; border-radius: 2.1rem;}
.tab-wrap.v1 .tab-btn-wrap .tab-btn.on {background-color: #FA5252; border-color: #FA5252; color: #ffffff;}
.tab-wrap.v1 .tab-cont-wrap .tab-cont {padding-top: 2rem;}

/* title */
.tit-wrap {}
.tit-wrap .tit {}

.tit-wrap.v1 {display: flex; justify-content: space-between; align-items: center; border-bottom: 1px solid #858E96; padding-bottom: 1rem;}
.tit-wrap.v1 .tit-area {display: flex; align-items: center; justify-content: flex-start; gap: 0 2rem;}

.tit.v1 {font-size: 2rem; line-height: 1.2; font-weight: 700;}

/* text */
.txt-warning {padding-left: 2rem; background: url('../img/icon/ic_warning_o.png') no-repeat left center; background-size: 1.6rem; color: #FD7E14; font-size: 1.2rem; line-height: 1.334; font-weight: 600;}
.txt-warning strong {display: inline-block; font-weight: 900;}
.txt-comment{}

/* table */
.tbl-wrap{}
.tbl-wrap table{ width: 100%; table-layout: fixed; }

.tbl-wrap.v1 {display: flex; flex-wrap: wrap; gap: 1rem 3rem; padding: 2rem; border-top: 1px solid #CED4DA; border-bottom: 1px solid #CED4DA;}
.tbl-wrap.v1 dl {width: calc((100% - 12rem)/5); flex: none; display: flex; align-items: flex-start;}
.tbl-wrap.v1 dl.full {width: 100%;}
.tbl-wrap.v1 dl dt {width: 4rem; font-size: 1.2rem; line-height: 1.4; font-weight: 500; color: #868E96;}
.tbl-wrap.v1 dl dd {flex: 1 0; font-size: 1.4rem; font-weight: 500;}

/* paging */
.paging {display: flex; align-items: center; justify-content: center; margin-top: 4rem;}
.paging ul {display: flex; align-items: center; justify-content: center; gap: 1rem;}
.paging ul li {flex: none; width: 2.4rem; height: 2.4rem; line-height: 2.4rem; padding: 0.4rem 0.4rem;}
.paging ul li a {display: block; width: 1.6rem; height: 1.6rem; line-height: 1.6rem; font-size: 1.1rem; color: #858E96; border-radius: 50%; text-align: center;}
.paging ul li.on a {background-color: #858E96; color: #ffffff;}
.paging ul li.front,
.paging ul li.prev,
.paging ul li.next,
.paging ul li.back {padding: 0;}
.paging ul li.front a,
.paging ul li.prev a,
.paging ul li.next a,
.paging ul li.back a {width: 100%; height: 100%; background-repeat: no-repeat; background-position: center; background-size: 100%;}
.paging ul li.front a {background-image: url('../img/icon/ic_pagin_arr_front.png');}
.paging ul li.prev a {background-image: url('../img/icon/ic_pagin_arr_prev.png');}
.paging ul li.next a {background-image: url('../img/icon/ic_pagin_arr_next.png');}
.paging ul li.back a {background-image: url('../img/icon/ic_pagin_arr_back.png');}

/* 주문화면 */
.order-wrap {display: flex; align-items: flex-start; flex-wrap: wrap; gap: 4rem 3rem;}
.order-wrap .info-wrap {flex: 1 0;}
.order-wrap .info-wrap .tit-wrap + .form {margin-top: 3rem;}
.order-wrap .info-wrap .form + .tit-wrap {margin-top: 8rem;}
.order-wrap .info-wrap .form.col.v1 > .form-tit {width: 16.5rem}
.order-wrap .info-wrap .form.col.v2 {gap: 0 3rem;}
.order-wrap .info-wrap .form.col.v2 > .form-tit {flex: none;}
.order-wrap .info-wrap select.v1 {width: 16rem;}
.order-wrap .info-wrap .size .vertical {width: 9.5rem}
.order-wrap .info-wrap .size .horizontal {width: 9.5rem}
.order-wrap .info-wrap .size .seneca {width: 9.5rem}
.order-wrap .info-wrap .wing {width: 9.5rem}
.order-wrap .info-wrap .copies {width: 16rem}
.order-wrap .info-wrap .paper .paper-type,
.order-wrap .info-wrap .paper .paper-basis,
.order-wrap .info-wrap .paper .paper-purchase {width: 10rem;}
.order-wrap .request-wrap {width: 36rem;}
.order-wrap .request-wrap .request-area {background-color: #F8F9FA;}
.order-wrap .request-wrap .request-area dl dt {padding: 3rem 3rem; font-size: 1.6rem; font-weight: 700;}
.order-wrap .request-wrap .request-area dl dd {border-top: 1px solid #E9ECEF;}
.order-wrap .request-wrap .request-area dl dd .request-item {padding: 2rem 2rem;}
.order-wrap .request-wrap .request-area dl dd .request-item + .request-item {border-top: 1px solid #E9ECEF;}
.order-wrap .request-wrap .request-area dl dd .request-item .text {font-size: 1.4rem; line-height: 1.4; letter-spacing: -0.02em; margin-top: 1rem; color: #868E96;}
.order-wrap .request-wrap .request-area dl dd .request-item.urgent {background-color: #FFE8CC;}
.order-wrap .request-wrap .request-area dl dd .request-item.urgent .check.v2 input[type="checkbox"] + label p,
.order-wrap .request-wrap .request-area dl dd .request-item.urgent .text {color: #E8590C;}
.order-wrap .request-wrap .request-area + .estimate-area {margin-top: 4rem;}
.order-wrap .request-wrap .estimate-area {border: 1px solid #CED4DA; padding: 3rem 2rem;}
.order-wrap .request-wrap .estimate-area .text01 {font-size: 1.6rem; line-height: 1.2; font-weight: 700;}
.order-wrap .request-wrap .estimate-area .text01 + .total {margin-top: 3rem;}
.order-wrap .request-wrap .estimate-area .total {display: flex; align-items: center; justify-content: space-between;}
.order-wrap .request-wrap .estimate-area .total dt {line-height: 1.2; font-size: 2.4rem; font-weight: 700;}
.order-wrap .request-wrap .estimate-area .total dd {line-height: 1.2; font-size: 2.4rem; font-weight: 700;}
.order-wrap .request-wrap .estimate-area .total dd strong {color: #FA5252;}
.order-wrap .request-wrap .estimate-area .total + .btn-wrap {margin-top: 2rem;}
.order-wrap .request-wrap .estimate-area .btn-wrap .btn {flex: 1 0;}
.order-wrap .request-wrap .estimate-area .btn-wrap + .btn-wrap {margin-top: 2rem; padding-top: 3rem; border-top: 1px solid #CED4DA;}

/*-------------------------------------------------------------------
    @collections
-------------------------------------------------------------------*/
/* form group */
.form.row.v1 > .form-tit > p {font-size: 1.4rem; font-weight: 500;}
.form.row.v1 > .form-cont {margin-top: 1rem;}

.form.col.v1 {display: flex;}
.form.col.v1 + .form.col.v1 {margin-top: 3rem;}
.form.col.v1 > .form-tit {max-height: 4rem; display: flex; align-items: center; justify-content: flex-start; flex: none;}
.form.col.v1 > .form-tit > p {font-size: 1.4rem; font-weight: 700; letter-spacing: -0.02em;}
.form.col.v1 > .form-cont > .has-btn + .has-btn {margin-top: 1rem;}
.form.col.v1 > .form-cont .form.col.v2 {margin-top: 1rem;}

.form.col.v2 {display: flex;}
.form.col.v2 + .form.col.v2 {margin-top: 1rem;}
.form.col.v2 > .form-tit {max-height: 4rem; display: flex; align-items: center; justify-content: flex-start; flex: none;}
.form.col.v2 > .form-tit > p {font-size: 1.4rem; font-weight: 500; color: #868E96;}

.inp-wrap {display: flex; align-items: center; justify-content: flex-start; gap: 1rem 1rem; flex-wrap: wrap;}
.inp-wrap > p {font-size: 1.4rem; color: #868E96; font-size: 1.4rem; flex: none;}
.inp-wrap > .inp-item {display: flex; align-items: center; justify-content: flex-start; gap: 0 1rem;}
.inp-wrap > .inp-item > p {font-size: 1.4rem; color: #868E96; flex: none;}

.has-unit {position: relative;}
.has-unit .unit {position: absolute; right: 1rem; color: #868E96; font-size: 1.4rem; top: 1.2rem}

.has-btn {display: flex; align-items: center; gap: 0 1rem; width: 100%;}
.has-btn .btn {flex: none;}

.check-area.v1 {display: flex; align-items: center; justify-content: flex-start; gap: 0 1rem;}

.radio-area.v1 {display: flex; align-items: center; justify-content: flex-start; border: 1px solid #CED4DA; border-radius: 0.4rem;}

/* form mixins */
input[type="text"],
input[type="password"] {height: 4rem; border-radius: 0.2rem; border: 1px solid #CED4DA; padding: 0 1rem; font-size: 1.4rem; display: block; width: 100%;}

select.v1 {height: 4rem; border-radius: 0.2rem; border: 1px solid #CED4DA; padding: 0 1rem; font-size: 1.4rem; display: block; width: 100%; background: #ffffff url('../img/icon/ic_inp_select_d.png') no-repeat right 1.2rem center; background-size: 1.6rem;}

.search {position: relative; width: 30rem;}
.search input[type="text"] {padding-right: 4rem;}
.search .btn-search {position: absolute; right: 1rem; top: 1rem;}

.check.v1 {width: fit-content;}
.check.v1 input[type="checkbox"] {border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px;}
.check.v1 input[type="checkbox"] + label {position: relative; min-width: 1.6rem; min-height: 1.6rem; width: fit-content; display: block;}
.check.v1 input[type="checkbox"] + label p {padding-left: 2.4rem; font-size: 1.2rem; letter-spacing: -0.02em; color: #343A40; font-weight: 500;}
.check.v1 input[type="checkbox"] + label::before {content: ""; width: 1.6rem; height: 1.6rem; background: url('../img/icon/ic_inp_check_off01.png') no-repeat center; background-size: 100%; position: absolute; left: 0; top: 50%; transform: translateY(-50%);}
.check.v1 input[type="checkbox"]:checked + label::before {background: url('../img/icon/ic_inp_check_on01.png') no-repeat center; background-size: 100%;}

.check.v2 {width: fit-content;}
.check.v2 input[type="checkbox"] {border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px;}
.check.v2 input[type="checkbox"] + label {position: relative; min-width: 1.6rem; min-height: 1.6rem; width: fit-content; display: block;}
.check.v2 input[type="checkbox"] + label p {padding-left: 2.4rem; font-size: 1.4rem; letter-spacing: -0.02em; color: #343A40; font-weight: 500;}
.check.v2 input[type="checkbox"] + label::before {content: ""; width: 1.6rem; height: 1.6rem; background: url('../img/icon/ic_inp_check_off01.png') no-repeat center; background-size: 100%; position: absolute; left: 0; top: 50%; transform: translateY(-50%);}
.check.v2 input[type="checkbox"]:checked + label::before {background: url('../img/icon/ic_inp_check_on01.png') no-repeat center; background-size: 100%;}

.radio.v1 {flex: 1 0; min-width: 9rem;}
.radio.v1 input[type="radio"] {border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px;}
.radio.v1 input[type="radio"] + label {width: 100%; height: 4rem; display: block;}
.radio.v1 + .radio.v1 input[type="radio"] + label {border-left: 1px solid #CED4DA;}
.radio.v1 input[type="radio"] + label p {font-size: 1.4rem; color: #343A40; line-height: 1.5; padding: 1rem 0 0.9rem; text-align: center;}
.radio.v1 input[type="radio"]:checked + label {background-color: #FA5252;}
.radio.v1 input[type="radio"]:checked + label p {color: #ffffff;}

.date.v1 {position: relative;}
.date.v1 input[type="date"] {width: 100%; height: 4rem; display: block; opacity: 0; position: absolute; top: 0; left: 0; z-index: 2;}
.date.v1 input[type="date"]::-webkit-clear-button,
.date.v1 input[type="date"]::-webkit-inner-spin-button {display: block; cursor: pointer;} 
.date.v1 input[type="date"]::-webkit-calendar-picker-indicator {background: transparent; z-index: 1; width: 3.6rem; height: 3.6rem; cursor: pointer;} 
.date.v1::after {position: absolute; top: 50%; right: 1.2rem; content: ''; width: 1.6rem; height: 1.6rem; cursor: pointer; background: url('../img/icon/ic_inp_date.png') no-repeat center; background-size: 100%; transform: translateY(-50%); z-index: 0;}

.period {display: flex; align-items: center; justify-content: flex-start; gap: 0 1rem;}
.period .date.v1 {width: 12rem;}
.period p {font-size: 1.2rem;}

/*-------------------------------------------------------------------
    @반응형
-------------------------------------------------------------------*/
/* pc:tablet:mobile = 1:??:0.625 참고 */
@media screen and (max-width: 1175px) {
    /* list */
    .list-top .filter-area {width: 100%;}
    .list-top .filter-area dl {width: 100%;}
    .list-top .filter-area dl dt {width: 100%;}
    .list-top .filter-area dl dd {margin-top: 1rem; width: 100%;}
    .list-top .filter-area dl dd .radio-area.v1 {flex: 1 0;}

    .list-wrap.v4 .list-head {display: none;}
    .list-wrap.v4 .list-body > ul > li {padding: 2rem 2rem;border-bottom: 1px solid #CED4DA; display: grid; grid-template-columns: 1fr auto; grid-template-rows: 2rem auto 6rem 1fr auto 4.2rem;}
    .list-wrap.v4 .list-body > ul > li:nth-child(1) {border-top: 1px solid #CED4DA}
    .list-wrap.v4 .list-body > ul > li .date-area {width: 100%; display: flex; justify-content: flex-start; align-items: center; gap: 0 1rem; order: 1; grid-row-start: 1; grid-row-end: 2;}
    .list-wrap.v4 .list-body > ul > li .date-area .date {text-align: left;}
    .list-wrap.v4 .list-body > ul > li .date-area .num {text-align: left;}
    .list-wrap.v4 .list-body > ul > li .txt-area {width: 100%; margin-top: 0.8rem; order: 3; grid-row-start: 2; grid-row-end: 6; align-self: start;}
    .list-wrap.v4 .list-body > ul > li .txt-area .tit + .txt {margin-top: 1rem;}
    .list-wrap.v4 .list-body > ul > li .unit-area {width: 100%; order: 4; grid-column-start: 2; grid-column-end: 3; grid-row-start: 3; grid-row-end: 4; align-self: end;}
    .list-wrap.v4 .list-body > ul > li .unit-area .unit {text-align: right;}
    .list-wrap.v4 .list-body > ul > li .price-area {width: 100%; order: 5; grid-column-start: 2; grid-column-end: 3; grid-row-start: 4; grid-row-end: 6; align-self: start;}
    .list-wrap.v4 .list-body > ul > li .price-area .price {text-align: right;}
    .list-wrap.v4 .list-body > ul > li .status-area {width: 100%; order: 2; grid-column-start: 2; grid-column-end: 3; grid-row-start: 1; grid-row-end: 3; align-self: center;}
    .list-wrap.v4 .list-body > ul > li .status-area .status {font-weight: 700;}
    .list-wrap.v4 .list-body > ul > li .status-area .status.clr01 {color: #FA5252;}
    .list-wrap.v4 .list-body > ul > li .status-area .status.clr02 {color: #FD7E14;}
    .list-wrap.v4 .list-body > ul > li .status-area .status.clr03 {color: #FAB005;}
    .list-wrap.v4 .list-body > ul > li .status-area .status.clr04 {color: #4C6EF5;}
    .list-wrap.v4 .list-body > ul > li .status-area .status.clr05 {color: #343A40;}
    .list-wrap.v4 .list-body > ul > li .etc-area {width: 100%; gap: 0 1rem; display: flex; justify-content: flex-start; order: 6; grid-row-start: 6; grid-row-end: 7; margin-top: 1rem;}
    .list-wrap.v4 .list-body > ul > li .etc-area .btn {margin-left: 0; margin-right: 0;}
    .list-wrap.v4 .list-body > ul > li .etc-area .btn + .btn {margin-top: 0;}

    /* 주문화면 */
    .order-wrap .info-wrap {width: 100%; flex: none;}
    .order-wrap .request-wrap {width: 100%;}
    .order-wrap .request-wrap .request-area dl dd {display: flex; flex-wrap: wrap;}
    .order-wrap .request-wrap .request-area dl dd .request-item {min-width: 50%; flex: 1 0;}
    .order-wrap .request-wrap .request-area dl dd .request-item:nth-child(-n + 2) {border-top: 0;}
    .order-wrap .request-wrap .request-area dl dd .request-item:nth-child(2n) {border-left: 1px solid #E9ECEF}
}
@media screen and (max-width: 720px) {
    /*-------------------------------------------------------------------
        @genaral
    -------------------------------------------------------------------*/
    /*-------------------------------------------------------------------
        @elements
    -------------------------------------------------------------------*/
    .btn.lg {height: 4rem; font-size: 1.2rem; padding: 0 1rem;}
    .btn.md {height: 3rem; font-size: 1.2rem; padding: 0 1rem;}

    .btn-portfolio {height: 3rem; font-size: 1.4rem; width: 11rem; background: #ffffff url('../img/icon/ic_portfolio_r.png') no-repeat left 1rem center; background-size: 2rem;}
    .btn-more {font-size: 1.2rem; padding: 0 1rem 0 3rem; background: url('../img/icon/ic_link_c_g.png') no-repeat left 1rem center; height: 1.6rem; background-size: 1.6rem;}

    /* icon */
    .ic-fnb-location {width: 1.2rem; height: 1.2rem;}
    .ic-fnb-term {width: 1.2rem; height: 1.2rem;}
    .ic-fnb-privacy {width: 1.2rem; height: 1.2rem;}
    .ic-fnb-code {width: 1.2rem; height: 1.2rem;}
    .ic-inquire {width: 1.6rem; height: 1.6rem;}
    .ic-title-faq {width: 2.4rem; height: 2.4rem;}
    .ic-title-time {width: 2.4rem; height: 2.4rem;}
    .ic-title-call {width: 2.4rem; height: 2.4rem;}

    /* list */
    .list-top + .acc-wrap.v1 {margin-top: 2rem;}
    .list-top .filter-area dl dd .btn {height: 3.2rem; width: 9.5rem;}

    .list-wrap.v1 ul li a {height: 5rem;}
    .list-wrap.v1 ul li .tit {font-size: 1.4rem;}
    .list-wrap.v1 ul li .date {font-size: 1.2rem;}

    .list-wrap.v2 > ul > li {padding: 1rem 1rem; flex-wrap: wrap;}
    .list-wrap.v2 > ul > li .text-area .date {font-size: 1.2rem;}
    .list-wrap.v2 > ul > li .text-area .tit {font-size: 1.4rem; margin-top: 1rem;}
    .list-wrap.v2 > ul > li .text-area .txt {font-size: 1.2rem;}
    .list-wrap.v2 > ul > li .price-area {width: 8.5rem; text-align: right;}
    .list-wrap.v2 > ul > li .price-area .unit {font-size: 1.2rem;}
    .list-wrap.v2 > ul > li .price-area .price {margin-top: 0.4rem; font-size: 1.4rem;}
    .list-wrap.v2 > ul > li .etc-area {width: calc(100% - 8.5rem); margin-top: 1rem; display: flex; gap: 0 1rem;}
    .list-wrap.v2 > ul > li .etc-area .btn {flex: 1 0;}
    .list-wrap.v2 > ul > li .etc-area .btn + .btn {margin-top: 0;}
    
    .list-wrap.v3 > ul > li {padding: 1rem 1rem;}
    .list-wrap.v3 > ul > li > div .date {font-size: 1.2rem;}

    .list-wrap.v4 .list-body > ul > li {padding: 1rem 1rem; grid-template-rows: 1.8rem auto 5rem 1fr auto 4rem;}
    .list-wrap.v4 .list-body > ul > li .date-area .date {font-size: 1.4rem;}
    .list-wrap.v4 .list-body > ul > li .date-area .num {font-size: 1.4rem;}
    .list-wrap.v4 .list-body > ul > li .txt-area .tit {font-size: 1.4rem;}
    .list-wrap.v4 .list-body > ul > li .txt-area .txt {font-size: 1.2rem;}
    .list-wrap.v4 .list-body > ul > li .unit-area .unit {font-size: 1.2rem;}
    .list-wrap.v4 .list-body > ul > li .price-area {margin-top: 0.4rem;}
    .list-wrap.v4 .list-body > ul > li .price-area .price {font-size: 1.4rem;}
    .list-wrap.v4 .list-body > ul > li .status-area {width: 100%; order: 2; grid-column-start: 2; grid-column-end: 3; grid-row-start: 1; grid-row-end: 3; align-self: center;}
    .list-wrap.v4 .list-body > ul > li .status-area .status {font-weight: 700;}
    .list-wrap.v4 .list-body > ul > li .status-area .status.clr01 {color: #FA5252;}
    .list-wrap.v4 .list-body > ul > li .status-area .status.clr02 {color: #FD7E14;}
    .list-wrap.v4 .list-body > ul > li .status-area .status.clr03 {color: #FAB005;}
    .list-wrap.v4 .list-body > ul > li .status-area .status.clr04 {color: #4C6EF5;}
    .list-wrap.v4 .list-body > ul > li .status-area .status.clr05 {color: #343A40;}
    .list-wrap.v4 .list-body > ul > li .etc-area {width: 100%; gap: 0 1rem; display: flex; justify-content: flex-start; order: 6; grid-row-start: 6; grid-row-end: 7; margin-top: 1rem;}
    .list-wrap.v4 .list-body > ul > li .etc-area .btn {margin-left: 0; margin-right: 0;}
    .list-wrap.v4 .list-body > ul > li .etc-area .btn + .btn {margin-top: 0;}

    /* 아코디언탭 */
    .acc-wrap.v1 > ul > li .acc-tit {padding: 1.2rem 1rem; gap: 0 1rem;}
    .acc-wrap.v1 > ul > li .acc-tit .tit {font-size: 1.2rem; padding: 0 0;}
    .acc-wrap.v1 > ul > li .acc-tit .date {font-size: 1.2rem; padding: 0 0;}
    .acc-wrap.v1 > ul > li .acc-cont {padding: 1rem 1rem;}
    .acc-wrap.v1 > ul > li .acc-cont p {font-size: 1.2rem;}

    .acc-wrap.v2 > ul > li {padding: 1rem 1rem;}
    .acc-wrap.v2 > ul > li .acc-tit {gap: 1rem 1rem; position: relative; flex-wrap: wrap;}
    .acc-wrap.v2 > ul > li .acc-tit:after {width: 2.8rem; height: 2.8rem; position: absolute; top: 0; right: 0;}
    .acc-wrap.v2 > ul > li .acc-tit .category {width: 100%; font-size: 1.4rem;}
    .acc-wrap.v2 > ul > li .acc-tit .thumb {width: 8rem;}
    .acc-wrap.v2 > ul > li .acc-tit .txt-area {flex: 1 0;}
    .acc-wrap.v2 > ul > li .acc-tit .txt-area .txt {font-size: 1.2rem;}
    .acc-wrap.v2 > ul > li .acc-cont {padding-top: 1rem;}
    .acc-wrap.v2 > ul > li .acc-cont * + .img-area {margin-top: 1rem;}

    /* 탭 */
    .tab-wrap.v1 .tab-btn-wrap .tab-btn {width: calc((100% - 0.8rem)/3); height: 3.2rem; padding: 0; font-size: 1.4rem;}

    /* title */
    .tit.v1 {font-size: 1.6rem;}

    /* text */
    .txt-warning {padding-left: 2.4rem; line-height: 1.2;}

    /* table */
    .tbl-wrap.v1 {gap: 1rem 0; padding: 2rem 1rem;}
    .tbl-wrap.v1 dl {width: 50%;}
    .tbl-wrap.v1 dl dt {width: 5rem; line-height: 1.2;}
    .tbl-wrap.v1 dl dd {font-size: 1.2rem;}

    /* paging */
    .paging {margin-top: 2rem;}

    /* 주문화면 */
    .order-wrap .info-wrap .tit-wrap + .form {margin-top: 2rem;}
    .order-wrap .info-wrap .form + .tit-wrap {margin-top: 4rem;}
    .order-wrap .info-wrap .form.col.v1 > .form-tit {width: 16.5rem}
    .order-wrap .info-wrap .form.col.v2 {gap: 0 3rem;}
    .order-wrap .info-wrap .form.col.v2 > .form-tit {flex: none;}
    .order-wrap .info-wrap select.v1 {width: 50%;}
    .order-wrap .info-wrap .size .vertical {width: 8rem}
    .order-wrap .info-wrap .size .horizontal {width: 8rem}
    .order-wrap .info-wrap .size .seneca {width: 6rem}
    .order-wrap .info-wrap .copies {width: 50%}
    .order-wrap .info-wrap .paper .paper-type {width: 10rem;}
    .order-wrap .info-wrap .paper .paper-basis {width: 10rem;}
    .order-wrap .info-wrap .paper .paper-purchase {width: 50%;}
    .order-wrap .request-wrap .request-area dl dt {padding: 3rem 1rem;}
    .order-wrap .request-wrap .request-area dl dd .request-item {width: 100%; max-width: 100%; padding: 2rem 1rem; flex: none;}
    .order-wrap .request-wrap .request-area dl dd .request-item:nth-child(-n + 2) {border-top: 1px solid #E9ECEF;}
    .order-wrap .request-wrap .request-area dl dd .request-item:first-child {border-top: 0;}
    .order-wrap .request-wrap .request-area dl dd .request-item:nth-child(2n) {border-left: 0}
    .order-wrap .request-wrap .request-area dl dd .request-item .text {font-size: 1.2rem;}
    .order-wrap .request-wrap .request-area + .estimate-area {margin-top: 2rem;}
    .order-wrap .request-wrap .estimate-area {padding: 3rem 0; border: 0;}
    .order-wrap .request-wrap .estimate-area .text01 {font-size: 1.4rem;}
    .order-wrap .request-wrap .estimate-area .text01 + .total {margin-top: 2rem;}
    .order-wrap .request-wrap .estimate-area .total dt {font-size: 2rem;}
    .order-wrap .request-wrap .estimate-area .total dd {font-size: 2rem;}
    .order-wrap .request-wrap .estimate-area .btn-wrap + .btn-wrap {margin-top: 2rem; padding-top: 2rem;}

    /*-------------------------------------------------------------------
        @elements
    -------------------------------------------------------------------*/
    /* form group */
    .form.col.v1 {flex-wrap: wrap;}
    .form.col.v1 + .form.col.v1 {margin-top: 2rem;}
    .form.col.v1 > .form-tit {width: 100% !important;}
    .form.col.v1 > .form-cont {margin-top: 1rem; width: 100%;}

    .form.col.v2 {flex-wrap: wrap;}
    .form.col.v2 > .form-tit > p {font-size: 1.4rem; font-weight: 500; color: #868E96;}
    .form.col.v2 > .form-cont {width: 100%; margin-top: 1rem;}

    .has-unit .unit {top: 0.7rem}

    /* form mixins */
    input[type="text"],
    input[type="password"] {height: 3.2rem;}

    select.v1 {height: 3.2rem;}

    .search {width: 100%;}
    .search .btn-search {top: 0.6rem;}

    .radio.v1 input[type="radio"] + label {height: 3.2rem;}
    .radio.v1 input[type="radio"] + label p {padding: 0.6rem 0 0.5rem;}
    
    .date.v1 input[type="date"] {height: 3.2rem;}
    .date.v1 input[type="date"]::-webkit-calendar-picker-indicator {flex: 1 0; height: 3.2rem;} 
    .date.v1::after {right: 1rem;}
    
    .period {width: 100%; gap: 0 0.5rem;}
    .period .date.v1 {flex: 1 0;}
    .period p {font-size: 1.4rem;}
}