@charset "utf-8";

/*-------------------------------------------------------------------
    파일정의 : 메인 스타일
-------------------------------------------------------------------*/
/* 섹션 */
.main .visual {position: relative; padding-bottom: 1.8rem;}
.main .visual .swiper .swiper-wrapper img {margin: 0 auto;}
.main .visual .swiper [class*='swiper-button-'] {width: 4.8rem; height: 4.8rem; background-repeat: no-repeat; background-position: center; background-size: 100%;}
.main .visual .swiper [class*='swiper-button-']::after {display: none;}
.main .visual .swiper .swiper-button-prev {background-image: url('../img/icon/ic_main_swiper_l.png');}
.main .visual .swiper .swiper-button-next {background-image: url('../img/icon/ic_main_swiper_r.png');}
.main .visual .swiper-pagination {bottom: 0; display: flex; align-items: center; justify-content: center; gap: 0 0.6rem; z-index: 1;}
.main .visual .swiper-pagination .swiper-pagination-bullet {opacity: 1; width: 0.8rem; height: 0.8rem; border: 1px solid #343A40; background-color: transparent; margin: 0;}
.main .visual .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {background-color: #343A40;}

.main .feature {padding: 8rem 0 6rem}
.main .feature ul {display: flex; align-items: center; justify-content: center; gap: 0 2rem}
.main .feature ul li {flex: 1 0; max-width: 26rem;}
.main .feature ul li img {margin: 0 auto; width: 13.8rem;}
.main .feature ul li .title {margin-top: 3rem; font-size: 2rem; line-height: 1.2; font-weight: 700; text-align: center;}
.main .feature ul li .text {text-align: center; font-size: 1.4rem; line-height: 1.429; margin-top: 2rem;}

.main .portfolio {padding: 6rem 0 4rem}
.main .portfolio .headline {text-align: center; font-size: 3.2rem; font-weight: 600; line-height: 1.1875;}
.main .portfolio .swiper {margin-top: 4rem;}
.main .portfolio .swiper .swiper-wrapper {display: flex; align-items: flex-start; justify-content: flex-start; gap: 3rem 3rem; flex-wrap: wrap;}
.main .portfolio .swiper .swiper-wrapper .swiper-slide {width: calc(25% - 2.25rem); height: auto;}
.main .portfolio .swiper .swiper-wrapper .swiper-slide a {display: block;}
.main .portfolio .swiper .swiper-wrapper .swiper-slide a .thumb {position: relative; width: 100%; padding-top: 133.972%;}
.main .portfolio .swiper .swiper-wrapper .swiper-slide a .thumb img {position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); object-fit: cover; width: 100%; height: 100%;}
.main .portfolio .swiper .swiper-wrapper .swiper-slide a .title {margin-top: 2rem; font-size: 2rem; line-height: 1.2; color: #343A40; font-weight: 500;}

.main .inform {padding: 4rem 0}
.main .inform .container {display: flex; align-items: stretch; gap: 3rem 3rem;}
.main .inform .container .division {flex: 1 0;}

.main .tool {padding: 4rem 0 8rem;}
.main .tool .container {display: flex; align-items: stretch; gap: 3rem 3rem;}
.main .tool .container .division {flex: 1 0; min-width: 0; }
.main .tool .container .division > dl {display: flex; flex-direction: column; height: 100%;}
.main .tool .container .division > dl > dt {flex: none; background-color: #868E96; text-align: center; padding: 1.2rem 0;}
.main .tool .container .division > dl > dt p { color: #FFFFFF; font-size: 2rem; line-height: 1.2; font-weight: 600;}
.main .tool .container .division > dl > dd {flex: 1 0; min-height: 0; border: 1px solid #E9ECEF; border-top: 0; padding: 3rem 0 3.5rem; display: flex; flex-wrap: wrap; align-items: center; justify-content: center; flex-direction: column; gap: 2rem 0;}
.main .tool .container .division > dl > dd .cont {display: flex; flex-wrap: wrap; align-items: center; justify-content: center; gap: 0 4rem;}
.main .tool .container .division > dl > dd .cont .text-area {position: relative;}
.main .tool .container .division > dl > dd .cont .text-area::before {content: ""; width: 1px; height: 4.2rem; background-color: #CED4DA; position: absolute; left: -2rem; top: 50%; transform: translateY(-50%);}
.main .tool .container .division > dl > dd .cont .text-area .text01 {font-size: 2rem; line-height: 1.2; font-weight: 600;}
.main .tool .container .division > dl > dd .cont .text-area .text02 {font-size: 1.6rem; line-height: 1.1875; font-weight: 600; margin-top: 0.5rem;}
.main .tool .container .division > dl > dd .cont .text-area dl {display: flex; align-items: flex-start; justify-content: flex-start;}
.main .tool .container .division > dl > dd .cont .text-area dl dt {flex: none; width: 4rem; color: #868E96; font-size: 1.6rem; font-weight: 600; line-height: 1.625;}
.main .tool .container .division > dl > dd .cont .text-area dl dd {font-size: 1.6rem; font-weight: 600; line-height: 1.625;}

/*-------------------------------------------------------------------
    @반응형
-------------------------------------------------------------------*/
@media screen and (max-width: 1175px) {
    .main .inform .container {flex-direction: column;}
    
    .main .tool .container {flex-direction: column;}
}

@media screen and (max-width: 720px) {
    .main .visual .swiper .swiper-wrapper img {width: 100%;}
    .main .visual .swiper [class*='swiper-button-'] {width: 2.4rem; height: 2.4rem;}

    .main .feature {padding: 5rem 0 4rem}
    .main .feature ul {flex-wrap: wrap; gap: 4rem 0rem}
    .main .feature ul li {flex: none; max-width: 100%; width: 50%;}
    .main .feature ul li img {width: 9rem;}
    .main .feature ul li .title {margin-top: 1rem; font-size: 1.6rem;}
    .main .feature ul li .text {font-size: 1.2rem; line-height: 1.5; margin-top: 0.5rem;}
    
    .main .portfolio {padding: 4rem 0 3rem}
    .main .portfolio .headline {font-size: 2rem; line-height: 1.2;}
    .main .portfolio .swiper {margin-top: 2rem; height: 52.5rem;}
    .main .portfolio .swiper .swiper-wrapper {gap: 0 0;}
    .main .portfolio .swiper .swiper-wrapper .swiper-slide {width: 15rem; height: calc((100% - 2rem)/2) !important;}
    .main .portfolio .swiper .swiper-wrapper .swiper-slide a .title {margin-top: 1rem; font-size: 1.4rem;}
    
    .main .inform {padding: 3rem 0}
    
    .main .tool {padding: 3rem 0 6rem;}
    .main .tool .container .division > dl > dt {padding: 1rem 0;}
    .main .tool .container .division > dl > dt p {font-size: 1.6rem;}
    .main .tool .container .division > dl > dd {padding: 2.4rem 0 1.5rem; gap: 1.5rem 0;}
    .main .tool .container .division > dl > dd .cont {gap: 0 3rem;}
    .main .tool .container .division:nth-child(1) > dl > dd .cont .name {width: 11.8rem}
    .main .tool .container .division > dl > dd .cont .text-area::before {height: 3rem; left: -1.5rem;}
    .main .tool .container .division > dl > dd .cont .text-area .text01 {font-size: 1.6rem;}
    .main .tool .container .division > dl > dd .cont .text-area .text02 {font-size: 1.2rem; margin-top: 0.2rem;}
    .main .tool .container .division > dl > dd .cont .text-area dl dt {width: 2.5rem; font-size: 1.2rem; line-height: 1.6;}
    .main .tool .container .division > dl > dd .cont .text-area dl dd {font-size: 1.2rem; line-height: 1.6;}

}